# Future Prediction of 50 records using logit ,KNN,SVM and GaussianNB

## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

## Reading and spliting the data

In [2]:
df = pd.read_csv(r"C:\Users\rezaa\Videos\Captures\11.Machine Learning\2.Classification\20th- Naive bayes\Social_Network_Ads.csv")

X = df.iloc[:,2:4].values
y = df.iloc[:,-1].values


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

## Scaling the data

In [3]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Generating 4 objects of the classification models

In [4]:
# models
from sklearn.linear_model import LogisticRegression
model_LG = LogisticRegression()

from sklearn.neighbors import KNeighborsClassifier
model_KN = KNeighborsClassifier()

from sklearn.svm import LinearSVC
model_SV = LinearSVC()

from sklearn.naive_bayes import BernoulliNB
model_NB = BernoulliNB()

from sklearn.metrics import accuracy_score, recall_score

models = {
    'Logistic Regressor': model_LG, 
    'KNN': model_KN, 
    'SVM': model_SV, 
    'Naive Bayes': model_NB }

## Calculating accuracy and recall for testing data

In [5]:
for model_id, model in models.items():
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(f'the acuracy for {model_id} is {accuracy_score(y_test,y_pred)}')
    print(f'the recall for {model_id} is {recall_score(y_test,y_pred)}')
    print('-'*50)

the acuracy for Logistic Regressor is 0.925
the recall for Logistic Regressor is 0.7727272727272727
--------------------------------------------------
the acuracy for KNN is 0.95
the recall for KNN is 0.9545454545454546
--------------------------------------------------
the acuracy for SVM is 0.925
the recall for SVM is 0.7727272727272727
--------------------------------------------------
the acuracy for Naive Bayes is 0.825
the recall for Naive Bayes is 0.5
--------------------------------------------------

## Calculating future predictions for 50 randomly generated data

In [6]:
X_0 = np.random.randint(low=np.min(X[:,0]), high=np.max(X[:,0]),size=50)  
X_1 = np.random.randint(low=np.min(X[:,1]), high=np.max(X[:,1]),size=50) 
X_gen = np.array([X_0, X_1]).transpose()

X_gen = sc.transform(X_gen)
result = {'Age':X_0, 'EstimatedSalary':X_1}

for model_id, model in models.items():
    y_pred_gen = model.predict(X_gen)
    result[model_id] = y_pred_gen
    
    
pd.DataFrame(result)

    Age  EstimatedSalary  Logistic Regressor  KNN  SVM  Naive Bayes
0    46            38248                   0    1    0            0
1    55           120183                   1    1    1            1
2    52            62063                   1    1    1            0
3    18            85514                   0    0    0            0
4    45           114242                   1    1    1            1
5    29           125358                   0    1    0            0
6    37           138217                   1    1    1            0
7    46            47279                   0    1    0            0
8    37           107047                   1    1    1            0
9    43           134224                   1    1    1            1
10   24           147367                   0    1    0            0
11   36           101566                   0    1    0            0
12   39            86191                   0    0    0            1
13   42            15388                   0    1    0            0
14   20            27442                   0    0    0            0
15   49            95370                   1    1    1            1
16   18           115346                   0    0    0            0
17   54            60948                   1    1    1            0
18   20            23502                   0    0    0            0
19   25           105161                   0    0    0            0
20   25            57118                   0    0    0            0
21   45           110796                   1    1    1            1
22   50            63358                   1    0    1            0
23   34            21677                   0    0    0            0
24   35            50414                   0    0    0            0
25   31            70696                   0    0    0            0
26   31            63436                   0    0    0            0
27   49            81321                   1    1    1            1
28   56            19296                   1    1    1            0
29   53           126868                   1    1    1            1
30   49            23301                   0    1    0            0
31   29           147046                   0    1    0            0
32   58            97899                   1    1    1            1
33   53            56139                   1    1    1            0
34   22            24039                   0    0    0            0
35   20            17938                   0    0    0            0
36   52           123983                   1    1    1            1
37   40            73660                   0    0    0            1
38   30            46851                   0    0    0            0
39   23            69989                   0    0    0            0
40   21           139306                   0    1    0            0
41   32            40881                   0    0    0            0
42   18            63799                   0    0    0            0
43   55            34884                   1    1    1            0
44   58           114277                   1    1    1            1
45   44            71430                   1    0    1            1
46   31            48494                   0    0    0            0
47   22            16249                   0    0    0            0
48   59           149548                   1    1    1            1
49   19            21321                   0    0    0            0