#  Grid search cross-validation 25 March

## Importing libraries

In [2]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

## Reading the data

In [3]:
df = pd.read_csv(r'C:\Users\rezaa\Videos\Captures\11.Machine Learning\2.Classification\25th - Cross validation\1.K-FOLD CROSS VALIDATION CODE_ MODEL SELECTION\Social_Network_Ads.csv')

X = df.iloc[:,2:4].values
y = df.iloc[:,-1].values
df.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

## Standerization of data

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

## Trainning the model

In [28]:
from sklearn.svm import SVC
model_SV = SVC()

## Grid search cross validation

In [29]:
param_grid = {
    'C': [0.01, 0.1, 1],
    'kernel' : ['rbf','poly']
}
from sklearn.model_selection import GridSearchCV
model_GS = GridSearchCV(estimator=model_SV, param_grid=param_grid,scoring='accuracy',cv=4)
model_GS.fit(X,y)
r = model_GS.cv_results_
pd.DataFrame(r)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006812,0.002250,0.003543,0.003797,0.01,rbf,"{'C': 0.01, 'kernel': 'rbf'}",0.65,0.64,0.64,0.64,0.6425,0.004330,6
1,0.006196,0.002606,0.000000,0.000000,0.01,poly,"{'C': 0.01, 'kernel': 'poly'}",0.79,0.77,0.74,0.65,0.7375,0.053561,5
2,0.005389,0.005718,0.004565,0.005531,0.1,rbf,"{'C': 0.1, 'kernel': 'rbf'}",0.80,0.80,0.76,0.66,0.7550,0.057228,2
3,0.004190,0.007257,0.000136,0.000236,0.1,poly,"{'C': 0.1, 'kernel': 'poly'}",0.80,0.78,0.74,0.66,0.7450,0.053619,3
4,0.003922,0.006793,0.007418,0.007438,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.82,0.82,0.79,0.66,0.7725,0.066097,1
5,0.008344,0.008437,0.000000,0.000000,1,poly,"{'C': 1, 'kernel': 'poly'}",0.80,0.78,0.74,0.66,0.7450,0.053619,3

In [30]:
model_GS.best_score_

0.7725

In [31]:
model_GS.best_params_

{'C': 1, 'kernel': 'rbf'}

In [32]:
model_GS.best_index_

4

In [33]:
model_GS.scorer_

make_scorer(accuracy_score)

In [34]:
model_GS.n_splits_

4