#  K-Fold cross-validation 25 March

## Importing libraries

In [2]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

## Reading the data

In [3]:
df = pd.read_csv(r'C:\Users\rezaa\Videos\Captures\11.Machine Learning\2.Classification\25th - Cross validation\1.K-FOLD CROSS VALIDATION CODE_ MODEL SELECTION\Social_Network_Ads.csv')

X = df.iloc[:,2:4].values
y = df.iloc[:,-1].values
df.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

## Standerization of data

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

## Trainning the model

In [5]:
from sklearn.svm import SVC
model_SV = SVC(kernel='rbf')
model_SV.fit(X, y);

## Cross validation score

In [6]:
from sklearn.model_selection import KFold
model_Kf = KFold(n_splits=5)

from sklearn.model_selection import cross_val_score
cross_val_score(model_SV, X, y,scoring='accuracy',cv=model_Kf)

array([0.8125, 0.975 , 0.8875, 0.6375, 0.55  ])