# Logistic regression 15 March 2024

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\rezaa\Videos\Captures\11.Machine Learning\2.Classification\14_march\car_sales_classification_dartaset.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
def model(ts=.2,rs=0,pen='l2',sol='lbfgs'):

        
    
    X = dataset.iloc[:,2:4].values
    y = dataset.iloc[:,-1].values
    
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=rs, test_size=ts)
    
    
    from sklearn.preprocessing import StandardScaler
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(penalty=pen,solver=sol)
    classifier.fit(X_train,y_train)
    y_pred = classifier.predict(X_test)
    
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)
    cm
    
    from sklearn.metrics import accuracy_score
    ac = accuracy_score(y_test, y_pred)
    ac
    
    from sklearn.metrics import classification_report
    cr = classification_report(y_test, y_pred)
    cr
    
    bias = classifier.score(X_train, y_train)
    bias
    
    variance = classifier.score(X_test, y_test)
    variance
    
    result = [ts, rs, pen, sol, ac, bias, variance ]
    
    
    return result

In [17]:
tab = []
tab.append(model(ts=.25,rs=0))
tab.append(model(ts=.25,rs=41))
tab.append(model(ts=.25,rs=51))
tab.append(model(ts=.20,rs=0))
tab.append(model(ts=.20,rs=41))
tab.append(model(ts=.20,rs=51))
tab.append(model(ts=.25,pen='l1',sol='liblinear'))
tab.append(model(ts=.25,pen='l1',sol='saga'))

tab.append(model(ts=.25,pen='l2',sol='lbfgs'))
tab.append(model(ts=.25,pen='l2',sol='liblinear'))
tab.append(model(ts=.25,pen='l2',sol='newton-cg'))
tab.append(model(ts=.25,pen='l2',sol='newton-cholesky'))
tab.append(model(ts=.25,pen='l2',sol='sag'))
tab.append(model(ts=.25,pen='l2',sol='saga'))

In [18]:
df = pd.DataFrame(tab, columns =['test size','random state','penalty','solver','accuracy','bias','variance'])
df

,test size,random state,penalty,solver,accuracy,bias,variance
0,0.25,0,l2,lbfgs,0.8900,0.823333,0.8900
1,0.25,41,l2,lbfgs,0.8300,0.850000,0.8300
2,0.25,51,l2,lbfgs,0.8700,0.826667,0.8700
3,0.20,0,l2,lbfgs,0.9250,0.821875,0.9250
4,0.20,41,l2,lbfgs,0.7875,0.862500,0.7875
5,0.20,51,l2,lbfgs,0.8875,0.834375,0.8875
6,0.25,0,l1,liblinear,0.8900,0.823333,0.8900
7,0.25,0,l1,saga,0.8900,0.823333,0.8900
8,0.25,0,l2,lbfgs,0.8900,0.823333,0.8900
9,0.25,0,l2,liblinear,0.8900,0.823333,0.8900
10,0.25,0,l2,newton-cg,0.8900,0.823333,0.8900
11,0.25,0,l2,newton-cholesky,0.8900,0.823333,0.8900
12,0.25,0,l2,sag,0.8900,0.823333,0.8900
13,0.25,0,l2,saga,0.8900,0.823333,0.8900