#  XGBoost 22 March

## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

## Reading the data

In [2]:
df = pd.read_csv(r"C:\Users\rezaa\Videos\Captures\11.Machine Learning\2.Classification\22nd, - ensamble\7.XGBOOST\Churn_Modelling.csv")
X = df.iloc[:,3:-1].values
y = df.iloc[:,-1].values
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,delhi,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,bangalore,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,delhi,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,delhi,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,bangalore,Female,43,2,125510.82,1,1,1,79084.10,0

## Applying label encoding in categorical columns

In [3]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
le1 = LabelEncoder()
X[:,1] = le1.fit_transform(X[:,1])

le2 = LabelEncoder()
X[:,2] = le2.fit_transform(X[:,2])

## Spliting and standerization of data

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=0)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Trainning the model

In [5]:
from xgboost import XGBClassifier
model_XG = XGBClassifier()
model_XG.fit(X_train,y_train)
y_pred_train = model_XG.predict(X_train)
y_pred_test = model_XG.predict(X_test)

## Accuracy and confusion metrix

In [6]:
from sklearn.metrics import accuracy_score, confusion_matrix
print(f'Bias = {accuracy_score(y_train, y_pred_train)}')
print(f'Variance = {accuracy_score(y_test, y_pred_test)}')
print(confusion_matrix(y_test, y_pred_test))

Bias = 0.95775
Variance = 0.8545
[[1491  104]
 [ 187  218]]